{% import "/views/macros/button.njk" as button %}
{% import "/views/macros/asset.njk" as asset %}

<div class="hero {{partial.class}}">
    <div class="hero__content container">
        {% if partial.eyebrow %}
            <p class="hero__content__eyebrow title--small push--auto">{{partial.eyebrow}}</p>
        {% endif %}
        {% if partial.title %}
            <h1 class="hero__content__title">
                {{partial.title}}
            </h1>
        {% endif %}
        {% if partial.body %}
            <p class="hero__content__body push--auto">
                {{partial.body}}
            </p>
        {% endif %}

        {% if partial.button %}
            {{button.button(partial.button)}}
        {% endif %}

    </div>

    {% if partial.image %}
        {{asset.asset(partial.image)}}
    {% endif %}
</div>