<div class="product-grid">
		<div class="product-grid__inner">
				{% for product in partial.products %}
						<div class="product-grid__item">
								<img decoding="async" loading="lazy" src="{{product.image.url}}" class="{{partial.image_settings.class}}" alt="{{product.image.alt_text}}" title="{{product.image.alt_text}}" height="120" width="120">
								<h3 class="product-grid__item__title title--small">{{product.title}}</h3>
						</div>
				{% endfor %}
		</div>
</div>