{% import "/views/macros/renderPartial.njk" as renderPartial with context %}

<!DOCTYPE html>
<html lang="{{doc.locale.id}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{doc.fields.title}}</title>
        <meta name="description" value="{{doc.fields.description}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{pod.staticFile('/src/static/css/main.css')|url}}">
    </head>
    <body>
        <div class="main">
            {% for partial in doc.fields.partials %}
                {{renderPartial.renderPartial(partial)}}
            {% endfor %}
        </div>
        <script src="{{pod.staticFile('/src/static/js/main.js').url.path}}"></script>
    </body>
</html>